<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>Add a product</h1>
    <hr>
    <form action="/products" method="POST">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="Apple">
        <label for="price">Price (Unit)</label>
        <input type="number" name="price" id="price" placeholder="$0.00">
        <hr>
        <label for="category">Select Category</label>
        <select name="category" id="category" required>
            <% for (let category of categories) {%>
                <option value="<%=category %>">
                    <%= category %>
                </option>
                <% } %>
        </select>
        <hr>
        <button>Submit</button>
        <hr>
        <a href="/products">Go Back!</a>
    </form>

</body>

</html>